node-red-display-ip-sensehat.txt
[{"id":"25b1dd34.7fa142","type":"hostip","z":"723ea690.a3a51","name":"Host IP","x":392.5,"y":277,"wires":[["7edfcdaf.6da464"]]},{"id":"38500fa0.3582b","type":"rpi-sensehat in","z":"723ea690.a3a51","name":"SenseHat Joystick","motion":false,"env":false,"stick":true,"x":187,"y":277,"wires":[["25b1dd34.7fa142"]]},{"id":"a01748.d77a88b8","type":"debug","z":"723ea690.a3a51","name":"","active":true,"console":"false","complete":"false","x":722.5,"y":349,"wires":[]},{"id":"728136ad.9cbe18","type":"rpi-sensehat out","z":"723ea690.a3a51","name":"Display IP","x":711,"y":399,"wires":[]},{"id":"7edfcdaf.6da464","type":"split","z":"723ea690.a3a51","name":"","splt":"},","x":548.5,"y":279,"wires":[["4c0f21a5.9fcbb"]]},{"id":"4c0f21a5.9fcbb","type":"switch","z":"723ea690.a3a51","name":"","property":"payload.family","propertyType":"msg","rules":[{"t":"eq","v":"IPv4","vt":"str"}],"checkall":"true","outputs":1,"x":701.5,"y":277,"wires":[["fc407660.a87598"]]},{"id":"fc407660.a87598","type":"function","z":"723ea690.a3a51","name":"Set IP","func":"msg.payload = \"IP:\" + msg.payload.address;\nreturn msg;","outputs":1,"noerr":0,"x":542.5,"y":344,"wires":[["728136ad.9cbe18","a01748.d77a88b8"]]}]
